{
    "presets": [
        "@babel/env", 
        "@babel/react"
    ],    
    "plugins": [
        "@babel/plugin-proposal-class-properties", 
        "@babel/plugin-proposal-object-rest-spread"]
}

    // "presets": [
    //     "babel-preset-env",
    //     "babel-preset-react"
    // ],
    // "plugins": [
    //     "transform-class-properties",
    //     "transform-object-rest-spread"
    // ],
    // "test": [
    //     "jest"
    // ]
//     "env": {
//         "test": {
//           "presets": [
//             [
//               "@babel/preset-env",
//               {
//                 "modules": "auto"
//               },
//               "jest"
//             ]
//           ],
//           "plugins": [
//                 "@babel/plugin-transform-runtime"
//           ]
//         }
//       }
       
//}